<layout iv-source="default.html">
    <content>
        <include iv-source="~/Template/Default/Layout/Scripts.html"></include>

        <form iv-type="form" iv-name="loginForm" iv-formtitle="Please Sign In" iv-controller="Authentication">
            <div>amir 1</div>
            <fieldset>
                <include iv-source="~/Template/Default/Layout/Scripts.html"></include>
                <input iv-type="text" iv-name="txtUsername" iv-model="user.username" iv-placeholder="Username" />
                <input iv-type="password" iv-name="txtPassword" iv-model="user.password" iv-placeholder="Password" />
                <button iv-type="submit" iv-name="btnSubmit" iv-label="Login" />
            </fieldset>
            <result>
                <view iv-type="error"></view>
                <view iv-type="success"></view>
            </result>
            <div>amir 2</div>
        </form>
    </content>
</layout>