<layout>
    <content>
        <form iv-type="form" iv-name="loginForm" iv-formtitle="Please Sign In" iv-controller="Authentication">
            <div>amir 1</div>
            <fieldset>
                <input iv-type="text" iv-name="txtUsername" iv-model="user.username" iv-placeholder="Username" />
                <input iv-type="password" iv-name="txtPassword" iv-model="user.password" iv-placeholder="Password" />
                <button iv-type="submit" iv-name="btnSubmit" iv-label="Login" />
            </fieldset>
            <result>
                <view iv-type="error"></view>
                <view iv-type="success"></view>
            </result>
            <div>amir 2</div>
        </form>
    </content>
</layout>
<definition>
    <models>
        <model name="User">
            <property name="Username" type="string"></property>
            <property name="Password" type="string"></property>
        </model>
        <model name="AuthenticationResult" response="true">
        </model>
    </models>
    <controllers>
        <controller name="Authentication" requestmodel="User" responsemodel="AuthenticationResult">
        </controller>
    </controllers>
</definition>