<!DOCTYPE html>
<html lang="en">
<head>
    <title iv-exclude="true">
        <pagetitle></pagetitle>
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/Content/img/favicon.ico">
    <link href="/Content/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="/Content/lib/jquery/jquery-2.1.3.js"></script>
    <script src="/Content/lib/bootstrap/js/bootstrap.js"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">iView Sample Project</span>
                </button>
                <a class="navbar-brand" href="#">iView Sample Project</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">
                    <li class="active"><a href="#">Base Control's</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <content></content>
    </div>
</body>
</html>